---
name: try Python platform module in Linux container

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:

concurrency:
  group: ci-container-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  run-python-platform-container:
    name: ${{ matrix.image }}
    # name: image:${{ matrix.image }} / version:${{ matrix.python-version }}
    runs-on: ubuntu-24.04
    env:
      JOB_NAME_DIRTY: ${{ matrix.image }}
    container:
      image: ${{ matrix.image }}
    strategy:
      matrix:
        image:
          - almalinux:8.10-20240528
          - almalinux:9.4-20240530
          - archlinux:base-devel-20240101.0.204074
          - debian:bookworm-20240513
          - debian:sid-20240513
          - redhat/ubi8:8.10-901.1717584420
          - redhat/ubi9:9.4-947.1717074712
          - rockylinux/rockylinux:9-ubi
          - rockylinux/rockylinux:10-ubi
        # python-version:
        #   - 3.7
        #   - 3.8
        #   - 3.9
        #   - '3.10'
        #   - 3.11
        #   - 3.12
        #   - 3.13
      fail-fast: false
    steps:
      - name: Checkout action
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Run action
        uses: ./
        with:
          use-sudo: false
